<div class="container">
<h1>welcome</h1>
<p>welcome to discussion app</p>
{{#if user}}
{{else}}
<a href = "/auth/google"class="btn red darken-1"><i class="fa fa-google left">Login With Google</i></a>
</div>
{{/if}}